<footer class="page-footer">
  <div class="page-footer-grid">
    <div class="page-footer-grid__info">
      <div class="page-footer-info__message">
        <p class="page-footer-message__description">
          <a class="page-footer__hyperlink" target="_blank" rel="noopener noreferrer"
            href="https://auth0.com/docs/quickstarts/">
            <span>
              This website was not built by, nor reflects the opinions or values of, White & Case.
            </span>
          </a>
        </p>
      </div>

    </div>
    <div class="page-footer-grid__brand">
      <div class="page-footer-brand">
        <a class="page-footer__hyperlink" target="_blank" rel="noopener noreferrer" href="https://auth0.com/">
          Nicholas Maggard, 2024
        </a>
      </div>
    </div>
  </div>
</footer>